
.idea/workspace.xml
Metalpolis_MVP/mvp_app/.idea/workspace.xml
Metalpolis_MVP/mvp_app/mvp_app/settings.py
Metalpolis_MVP/mvp_app/.idea/workspace.xml
Metalpolis_MVP/mvp_app/.idea/dataSources.local.xml
Metalpolis_MVP/mvp_app/.idea/workspace.xml
