{% extends "shared_market_app/main.html" %}
{% load staticfiles %}
{% block main_content %}

    <div class="row">
        <div class="col-sm-6">
            <h4>
              Suppliers
            </h4>
        </div>
          <div class="col-sm-2 pull-right">
              <div class="dataTables_length" id="example1_length">
                  <select name="example1_length" aria-controls="example1"
                          class="form-control input-sm">
                      <option value="">Filter by [Default]</option>
                      <option value="rate">Filer by Rating</option>
                      <option value="wins">Filer by Wins</option>
                      <option value="authentication">Filer by Authentication</option>
                  </select>
              </div>
          </div>
      </div>

    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Company Name</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                {% if supplier_list %}

                    {% for supplier in supplier_list %}

                        <tr>
                            <td>
                                <img class="profile-user-img img-responsive img-circle"
                                     src="{% static 'market_app' %}/img/user2-160x160.jpg"
                                     alt="Supplier profile picture">
                            </td>
                            <td>{{ supplier.Name }}</td>
                            <td>{{ supplier.Address }}</td>
                            <td><span class="label label-success">Approved</span></td>
                            <td>
                                <a href='{% url "market_app:supplier_profile" supplier.pk %}'>View Profile</a>
                                <br>
                                <a href='{% url "market_app:buyer_profile" %}'>Request for Quote</a>
                            </td>
                        </tr>

                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="5">
                            <p>No supplier company information has been setup.</p>
                        </td>
                    </tr>
                {% endif %}

              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

{% endblock %}