{% extends "shared_market_app/main.html" %}
{% load staticfiles %}

{% block main_content %}

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h2 class="page-header">Supplier Registration</h2>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="box-body pull-right">
                <a href="{% url 'market_app:register' %}">
                    <i class="fa fa-backward"></i> Back
                </a>
            </div>
        </div>
    </div>

{#    'Id', 'EmailAddress', 'Password', 'Username', 'Title',#}
{#                  'ContactNumber', 'MCompany_Id'#}

<form role="form" action="{% url 'market_app:register_buyer' %}" method="post">

    <div class="box box-warning">

            <!-- /.box-header -->
            <div class="box-body">

                  {% csrf_token %}

                  <div class="form-group">
                      <label>Name</label>

                      <input name="Username" type="text" class="form-control" placeholder="Please enter your name">
                      {% if BuyerVM.Username.errors %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ BuyerVM.Username.errors }}
                        </div>

                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label>Company</label>
                      <input name="MCompany_Id" type="number" class="form-control" placeholder="Your Company Name">
                      {% if BuyerVM.MCompany_Id.errors %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ BuyerVM.MCompany_Id.errors }}
                        </div>

                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label>Job Title</label>
                      <input name="Title" type="text" class="form-control" placeholder="Your job title at your company">
                      {% if BuyerVM.Title.errors %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ BuyerVM.Title.errors }}
                        </div>

                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label>Contact Number</label>
                      <input name="ContactNumber" type="text" class="form-control" placeholder="Number for suppliers to reach you">
                      {% if BuyerVM.ContactNumber.errors %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ BuyerVM.ContactNumber.errors }}
                        </div>

                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label>Email Address</label>
                      <input name="EmailAddress" type="text" class="form-control" placeholder="Company email address">
                      {% if BuyerVM.EmailAddress.errors %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ BuyerVM.EmailAddress.errors }}
                        </div>

                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label>Password</label>
                      <input name="Password" type="password" class="form-control" placeholder="Password to sign in later">
                      {% if BuyerVM.Password.errors %}

                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ BuyerVM.Password.errors }}
                        </div>

                      {% endif %}
                  </div>

                    <hr/>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Search Services</label>
                              <section>
                                  <input type="text" class="typeahead" />
                            </section>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Selected Services</label>
                              <select name="selected_services" multiple="" class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <br><br>
                            <button type="button" class="btn btn-sm btn-info pull-right">Remove</button>
                        </div>
                    </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>

</form>

<script src="{% static 'market_app' %}/app/register_supplier.js"></script>
{% endblock %}